{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

            <form action="/proseslogin" method="post">
                <h5>Login</h5>
                <input placeholder="username" type="text" name="usernama" id="usernama" autocomplete="off">
                <br>
                <input placeholder="password" type="text" name="password" id="password" autocomplete="off">
                <br>
                <button type="submit" class="btn btn-sm mt-2 btn-primary" name="submit" value="submit">Submit</button>
                <div class="mb-3">
            </form>


            <!-- <form action="/add" method="post">
                <h3>Tambah data</h3>
                <input placeholder="nama" type="text" name="nama" id="nama" autocomplete="off">
                <br>
                <input placeholder="nilai" type="number" name="nilai" id="nilai" autocomplete="off">
                <br>
                <button type="submit" class="btn btn-sm mt-2 btn-primary" name="submit" value="submit">Submit</button>
            </form> -->
            <br>

        </div>
    </div>
</div>
{% endblock %}

ini tulisan tidak akan muncul